<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Dela+Gothic+One&display=swap" rel="stylesheet">


<app-nav-menu></app-nav-menu>

<div class="container">
  <router-outlet></router-outlet>
</div>


<!--<div class="mainGrid">
  <h1 class="donutShop">Donut Shop</h1>
  <app-donuts></app-donuts>
  <h1 class="donutShop">Computer Peeps</h1>
  <app-famous-people></app-famous-people>
</div>-->

